body{
    margin: 0%;
    border: 0%;
    background-color: black;
    font-family:raleway;
    color: #ffffff;
}
.header{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.imagen-principal {
    width: 100%;    
    background: transparent;
    background-repeat: no-repeat;
    align-content: center;
}
.section{
    text-align: center;
    margin: 0;
    padding: 45px;
}
.container{
    width: 80%;
    margin:0 auto;
}
.descripcion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.descripcion p{
    width: 650px;
    font-size: 24px;
}
.imagen-descripcion{
    width: 400px;   
    top: 845px; 
    left: 731px;
    height: 237px;
}
.seccion-iconos{
    background-color: #1E1A13; 
    text-align: center;
     font-weight:2px;
     font-size: 30px;
     padding-bottom:20px;
     padding-top:20px;
 }
.iconos{
    display:inline-block;
    width: 30%;
}
.iconos p {
    font-size: 25px;
    font-weight: 300;
}
.seccion-imagenes {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
}
.seccion-imagenes img{
    width: 450px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    background-color: #1E1A13;
    text-align: center;
    margin: 0%;
    padding:10px
}
footer a {
    text-decoration: none ;
}